@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbd5e1;
    padding: 1rem;
    border-radius: 5px;
}
.cart_item:nth-child(2n){
    margin: 2rem 0;
}
@media only screen and (max-width:768px) {
    nav ul{
        position: absolute;
        top: 50px;
        padding: 10px 0px 10px 50px;
        left: -8%;
        /* text-align: center; */
        min-width: 1000px;
        background-color: #f4f0ff;
    }

}
@media only screen and (max-width:860px) {
    nav ul{
        position: absolute;
        top: 50px;
        padding: 10px 0px 10px 50px;
        left: -8%;
        /* text-align: center; */
        min-width: 1000px;
        background-color: #f4f0ff;
    }

}