@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbd5e1;
    padding: 1rem;
    border-radius: 5px;
}
.cart_item:nth-child(2n){
    margin: 2rem 0;
}
@media only screen and (max-width:920px) {
    nav{
        flex-direction: column;
        position: relative;
    }
    nav #menu{
        display: block;
        position: absolute;
        top: 0px;
        right: 5px;
    }
    nav ul{
        background-color: rgb(255, 255, 255);
        display: none;
        
        
    }
    nav ul li{
        display: block;
        padding: 2% 0;

    }
    .showmenu{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
    nav ul li a{
        color: #222;
    }
    nav ul li:hover{
        color: white;
    }
    
}
